p  {font-size: 1rem; font-weight: normal; text-indent: inherit; color: #fff; font-family: 'Comic Neue'}
h1 {text-align: center;  color: #fff;font-family: 'Poor Story'}
li {color: #fff;font-family: 'Comic Neue'}
a {text-decoration-line: none; color: white; background-color: black;
 padding: 20px;}
 h3 { font-family: 'Poor Story'}
 h2 {font-family: 'Poor Story'}

* {background-color: #ed8a63;}
